# [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners)

## Default owners for everything in the repo

*                                   @scottschreckengaust 
.github                             @scottschreckengaust
CODE_OF_CONDUCT.md                  @scottschreckengaust
CONTRIBUTING.md                     @scottschreckengaust
LICENSE                             @scottschreckengaust
README.md                           @scottschreckengaust

index.html                          @scottschreckengaust
destinations.html                   @scottschreckengaust
*.css                               @scottschreckengaust

*-guides.html                       @ayushtr-aws @backgroundagents @ClintEastman02 @isadeks @scottschreckengaust
*-region.html                       @ayushtr-aws @backgroundagents @ClintEastman02 @isadeks @scottschreckengaust

## File must end with CODEOWNERS file

.github/CODEOWNERS                  @scottschreckengaust
